<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xóa Người Dùng</title>
</head>
<body>
    <h1>Xác Nhận Xóa</h1>
    <p>Bạn có chắc chắn muốn xóa người dùng <strong><%= user.name %> - <%= user.password %> - <%= user.email %> - <%= user.address %></strong> không?</p>
    <form action="/users/delete/<%= user._id %>" method="POST" style="display:inline;">
        <button type="submit">Xóa</button>
    </form>
    <a href="/users/list">Quay lại danh sách người dùng</a>
</body>
</html>
